body{
  background: #777;
  text-align: center;
  font-size: 18px;
  color: #777;
  
}
.box{
  background: #ebebeb;
  display: block;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 20px;
  
}

.container{
  margin: 10px 150px;
}

section{
  float:left;
  width: 495px;
  height: 150px;
}
aside{
  float: right;
  width: 160px;
  height: 150px;
}

footer{
  background: #ebebeb;
  
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}